/* Flexbox layout for the gallery */
.gallery-layout-media {
    display: flex;
    align-items: stretch; /* Make all items the same height */
    justify-content: space-between; /* Space between items */
}

/* Styling for the description and image cells */
.description-cell {
    flex: 1; /* Allow the description cell to grow and set its own height */
    padding-right: 20px; /* Add space between text and image */
}

.w-layout-cell-media {
    flex: 1; /* Make the image cell the same size as the description */
    display: flex;
    align-items: flex-end; /* Align images to the bottom of the cell */
    justify-content: space-between; /* Space images evenly */
    padding: 10px; /* Optional: add padding around the image */
    overflow: hidden; /* Ensure content doesn't overflow */
}

.image-container {
    display: flex;
    justify-content: space-between; /* Distribute space between images */
    width: 100%;
}

.image-container img {
    width: 49%; /* Set width to 49% to ensure they fit side by side */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container without distortion */
    border-radius: 10px; /* Optional: rounded corners */
}

/* Paragrafların stili */
p {
    font-size: 1em;
    color: #efebeb;
    margin: 0;
    padding: 10px 0;
}

/* Son paragrafın alt kenar boşluğunu kaldır */
p:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

/* Responsive settings */
@media (max-width: 768px) {
    .gallery-layout-media {
        flex-direction: column;
        text-align: center;
    }

    .description-cell {
        padding-right: 0;
        max-width: 100%; /* Full width on smaller screens */
    }

    .w-layout-cell-media {
        max-width: 100%;
        padding: 0;
    }

    .image-container {
        flex-direction: column; /* Stack images vertically */
    }

    .image-container img {
        margin: 10px 0; /* Space between images */
        width: 90%; /* Make images wider for better visibility */
        max-width: 90%;
        height: auto; /* Maintain aspect ratio */
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }
}
